* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
  }
  
  body {
    color: black;
    background-color: #E4DAA9;
  }
  
  .imglogo {
    height: 100px;
    width: 200px;
  }
  
  .cmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  #menu {
    display: none;
    color: black;
  }
  
  #search{
    font-weight: bold;
    color: #494429;
  }
  
  #search:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .btn-login{
    font-weight: bold;
    text-decoration: none;
    color: #494429;
  }
  
  .btn-login:hover{
    text-decoration: underline;
  }
  
  #user {
    font-weight: bold;
    color: #494429;
  }
  
  #user:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 6%;
    background-color: rgba(177, 169, 128, 0.7);
    border-bottom: 1px solid #9e9a9a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
  }
  
  nav .Navbar li {
    display: inline-block;
    list-style-type: none;
    margin: 0 1rem;
  }
  
  nav .Navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #494429;
  }
  
  nav .Navbar a:hover,
  nav .Navbar a.active {
    font-weight: bold;
    color: rgb(18, 189, 166);
    background-color: #E4DAA9;
    border-radius: 10%;
    padding: 10px;
    cursor: pointer;
  }
  .content-wrap{
    margin-top: 12em;
    margin-left: 4em;
    margin-right: 4em;
  }

  .back{
    font-size: large;
    font-weight: bold;
    color: #797355;
  }
  .back a{
    text-decoration: none;
    color: #797355;
  }
  
  .back a:hover{
    cursor: pointer;
    text-decoration: underline;
  }
.atas-wrap{
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.ba-title h1{
  font-weight: bold;
  color: rgb(18, 189, 166);
}

.ba-image img{
  height: 400px;
  width: 500px;
  border-radius: 20px;
}

.ba-simbol{
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(18, 189, 166);
  padding-top: 3em; 
  align-items: center;
}

.ba-name img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.ba-name .image img:hover{
  transform: scale(1.1);
}
.ba-name{
  display: flex;
  gap: 2em;
}

.love-icon {
  color: white;
  padding: 10px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: rgb(190, 30, 30);
  border-radius: 50%;
}

.love-icon:hover {
  background-color: rgb(117, 26, 26);
  cursor: pointer;
}
.main-section{
  margin-top: 2em;
}
.main-ingredient{
  margin-bottom: 5em;
  margin-top: 1em;
}

.ingredient h1{
  border-top: 1px solid rgb(18, 189, 166);
  padding-top: 3em; 
  text-align: center;
  font-weight: bold;
  color: #797355;
}
.card-ing{
  color: #E4DAA9;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  background-color: rgb(18, 189, 166);
  border-radius: 20px;
  margin-bottom: 5px;
  font-weight: bolder;
}

.card-ing-1{
  color: #E4DAA9;
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 3em;
  background-color: rgb(18, 189, 166);
  border-radius: 20px;
  margin-bottom: 5px;
  font-weight: bolder;
}



.card-ing-plus{
  color: #E4DAA9;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  background-color: rgb(18, 189, 166);
  border-radius: 20px;
  margin-bottom: 5px;
  font-weight: bolder;
}


.step-cook h1{
  border-top: 1px solid rgb(18, 189, 166);
  padding-top: 3em; 
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
  color: #797355;
}
.trash-btn{
  color: rgb(141, 42, 42);
}
.trash-btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.plus-btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.step-cook-card{
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  margin-bottom: 10px;
}

.step-cook-card-1{
  font-weight: bolder;
  display: flex;
  align-items: center;
  gap: 3em;
  margin-bottom: 10px;
}
.step-cook-card-1 + .step-cook-card-1 {
  border-top: 1px solid rgb(18, 189, 166);
  padding-top: 3em; 
}
.word-step-cook-1{
  text-align: center;
  margin-left: 3em;
}
.step-cook-card + .step-cook-card {
  border-top: 1px solid rgb(18, 189, 166);
  padding-top: 3em; 
}
.no-step-cook{
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 189, 166,0.5);
  color: #E4DAA9;
  width: 30px;
  height: 50px;
}
.comment-section-1{
  border-top: 1px solid rgb(18, 189, 166);
  padding-top: 7em; 
}
.comment-section-1 h1{
  text-align: center;
  margin-bottom: 1em;
  font-weight: bold;
  color: #797355;
}

.btn-edit{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgb(18, 189, 166);
  padding-top: 3em; 
}
.save-recipe{
  padding: 1em;
  width: 300px;
  border-radius: 20px;
  background-color: rgb(18, 189, 166);
  font-weight: bolder;
  color: #E4DAA9;
}
.save-recipe:hover{
  cursor: pointer;
  background-color: rgb(37, 102, 93)
}
.delete-recipe{
  padding: 1em;
  width: 300px;
  border-radius: 20px;
  background-color: red;
  font-weight: bolder;
  color: #E4DAA9;
}
.delete-recipe:hover{
  cursor: pointer;
  background-color: rgb(129, 27, 27);
}

.star-button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  margin-bottom: 1em;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  position: relative;
}

#search-input {
  width: 700px;
  height: 60px;
  padding: 1em;
  padding-right: 40px;
}

#search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.card-comment{
  border: 1px solid rgb(18, 189, 166);
  display: flex;
  gap: 2em;
  border-top: 1px solid rgb(18, 189, 166);
  padding-top: 1em; 
  padding-bottom: 1em;
}

.inf-image img{
  margin-left: 1em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.inf-comment{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-weight: bold;
  color: #797355;
}

.comment{
  border-top: 1px solid rgb(18, 189, 166);
  padding-top: 1em; 
}
footer {
  position: absolute;
  left: 0;
  padding: 1em;
  background-color: rgb(177, 169, 128);
  text-align: center;
  color: #333;
  font-size: 1.25rem;
  font-weight: 500;
}

  
  footer {
    padding: 1em;
    background-color: rgb(177, 169, 128);
    width: 100%;
    margin-top: 1em;
    text-align: center;
    color: #333;
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  /* Styles for mobile and tablets */
  
  
  
  @media screen and (max-width: 1366px) {
    html {
      font-size: 80%;
    }
    
  }
  @media screen and (max-width: 1200px){
    .atas-wrap{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .ba-image{
      margin-top: 2em;
    }
    .ba-image img{
      height: 300px;
      width: 400px;
    }
    #search-input {
      width: 600px;
      height: 50px;
      padding: 1em;
      padding-right: 40px;
    }
  }
  @media screen and (max-width: 768px) {
    html {
      font-size: 70%;
    }
  
    #menu {
      display: block;
    }
  
    #menu:hover {
      transform: scale(1.2);
    }
  
    nav .Navbar {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: rgba(177, 169, 128, 0.7);
      width: 20rem;
      height: 100vh;
      transition: 0.5s;
    }
  
    nav .Navbar.active {
      right: 0;
    }
  
    nav .Navbar a {
      color: black;
      display: block;
      margin: 1.75rem;
      padding: 0.5rem;
    }
    
    .ba-image img{
      height: 200px;
      width: 300px;
    }
    #search-input {
      width: 300px;
      height: 40px;
      padding: 1em;
      padding-right: 40px;
    }
    .save-recipe{
      width: 150px;
    }

    .delete-recipe{
      width: 150px;
    }

  }
  
  @media screen and (max-width: 450px) {
    html {
      font-size: 50%;
    }
  
    #menu {
      display: block;
    }
  
    #menu:hover {
      transform: scale(1.2);
    }
  
    nav .Navbar {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: rgba(177, 169, 128, 0.7);
      width: 20rem;
      height: 100vh;
    }
  
    nav .Navbar.active {
      right: 0;
    }
  
    nav .Navbar a {
      color: black;
      display: block;
      margin: 1.75rem;
      padding: 0.5rem;
    }
    .content-wrap{
      margin-top: 14em;
      margin-left: 4em;
      margin-right: 4em;
    }
    .ba-image img{
      height: 100px;
      width: 200px;
    }
    #search-input {
      width: 300px;
      height: 30px;
      padding: 1em;
      padding-right: 40px;
    }

  }