* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
  }
  
  body {
    color: black;
    background-color: #E4DAA9;
  }
  
  .imglogo {
    height: 100px;
    width: 200px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(177, 169, 128, 0.7);
    border-bottom: 1px solid #9e9a9a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
  }
  .content-wrap{
    margin-top: 9em;
    margin-left: 12em;
    margin-right: 12em;
  }
  .back-to-home {
    margin-bottom: 3em;
  }
  
  .back-to-home a {
    font-size: 20px;
    font-weight: bold;
    color: #797355;
    text-decoration: none;
    color: rgba(27, 122, 110, 0.7);
  }
  
  .back-to-home a:hover {
    text-decoration: underline;
  }

.atas-wrap{
  display: flex;
  justify-content: space-between;
}

.ba-image img{
  height: 400px;
  width: 500px;
  border-radius: 20px;
}

.ba-simbol{
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(18, 189, 166);
  padding-top: 3em; 
  align-items: center;
}

.ba-name img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ba-name{
  display: flex;
  gap: 2em;
}

.love-icon {
  color: white;
  padding: 10px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: rgb(190, 30, 30);
  border-radius: 50%;
}

.love-icon:hover {
  background-color: rgb(117, 26, 26);
  cursor: pointer;
}
.main-section{
  margin-top: 2em;
}
.main-ingredient{
  margin-bottom: 5em;
  margin-top: 1em;
}

.ingredient h1{
  border-top: 1px solid rgb(18, 189, 166);
  padding-top: 3em; 
  text-align: center;
  font-weight: bold;
  color: #797355;
}
.card-ing{
  color: #E4DAA9;
  padding: 1em;
  display: flex;
  gap: 3em;
  background-color: rgb(18, 189, 166);
  border-radius: 20px;
  margin-bottom: 5px;
}

.step-cook h1{
  border-top: 1px solid rgb(18, 189, 166);
  padding-top: 3em; 
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
  color: #797355;
}

.step-cook-card{
  display: flex;
  align-items: center;
  gap: 3em;
  margin-bottom: 10px;
}
.step-cook-card + .step-cook-card {
  border-top: 1px solid rgb(18, 189, 166);
  padding-top: 3em; 
}
.no-step-cook{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 189, 166,0.5);
  color: #E4DAA9;
  width: 30px;
  height: 50px;
}
.comment-section{
  margin-bottom: 5em;
}
.comment-section h1{
  border-top: 1px solid rgb(18, 189, 166);
  padding-top: 3em; 
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
  color: #797355;
}
.star-button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  margin-bottom: 1em;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  position: relative;
}

#search-input {
  width: 700px;
  height: 60px;
  padding: 1em;
  padding-right: 40px;
}

#search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.card-comment{
  border: 1px solid rgb(18, 189, 166);
  display: flex;
  gap: 2em;
  border-top: 1px solid rgb(18, 189, 166);
  padding-top: 1em; 
  padding-bottom: 1em;
}

.inf-image img{
  margin-left: 1em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.inf-comment{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-weight: bold;
  color: #797355;
}

.comment{
  border-top: 1px solid rgb(18, 189, 166);
  padding-top: 1em; 
}
footer {
  padding: 1em;
  background-color: rgb(177, 169, 128);
  text-align: center;
  color: #333;
  font-size: 1.25rem;
  font-weight: 500;
}

  @media screen and (max-width: 720px) {
    img {
      max-width: 100%;
      object-fit: contain;
      height: 10em;
    }
  
    .card {
      max-width: 10em;
      margin-top: 1em;
    }
  
    #recipes {
      grid-template-columns: auto auto;
      grid-column-gap: 1em;
    }
  }
  
  footer {
    padding: 1em;
    background-color: rgb(177, 169, 128);
    width: 100%;
    margin-top: 1em;
    text-align: center;
    color: #333;
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  /* Styles for mobile and tablets */
  
  
  
  @media screen and (max-width: 1366px) {
    html {
      font-size: 80%;
    }
  }
  
  @media screen and (max-width: 768px) {
    html {
      font-size: 70%;
    }
  
    #menu {
      display: block;
    }
  
    #menu:hover {
      transform: scale(1.2);
    }
  
    nav .Navbar {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: rgba(18, 189, 166, 0.7);
      width: 20rem;
      height: 100vh;
      transition: 0.5s;
    }
  
    nav .Navbar.active {
      right: 0;
    }
  
    nav .Navbar a {
      color: black;
      display: block;
      margin: 1.75rem;
      padding: 0.5rem;
    }

  }
  
  @media screen and (max-width: 450px) {
    html {
      font-size: 50%;
    }
  
    #menu {
      display: block;
    }
  
    #menu:hover {
      transform: scale(1.2);
    }
  
    nav .Navbar {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: rgba(18, 189, 166, 0.7);
      width: 20rem;
      height: 100vh;
    }
  
    nav .Navbar.active {
      right: 0;
    }
  
    nav .Navbar a {
      color: black;
      display: block;
      margin: 1.75rem;
      padding: 0.5rem;
    }
  
  }